.nav{
    display: flex;
    justify-content: space-between;

}

.content{
    margin: 10px;
    padding: 10px;
    color: blue;
    border: 2px solid red;
    box-sizing: border-box;
}

.extras{
    display: flex;
    flex-direction: row;
}

.extras > ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
}

.extras > ul > li {
    margin: 10px;
    padding: 10px;
    font-size: larger;
    cursor: pointer;
}

#block-sonsiest-branding img{
    height: 50px;
    width: 50px;
}
#block-sonsiest-branding a{
    margin: 10px 20px;
}