<nav area-label="Navigation" class="nav" id="nav">
    {{ page.header}}

    {% include '@sonsiest/templates/system/extras.html.twig' %}
</nav>



<section area-label="Primary Menu" class="p_menu" id="p_menu">
    {{ page.primary_menu }}
</section>

<section area-label="Main Content" class="content" id="content">
    {{ page.content }}
</section>

<footer area-label="Footer" class="footer" id="footer">
    {{ page.footer }}
</footer>
